/* օբշի համար որ սաղ լավ լինի */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* բօդիին գույն տալու համար */
body {
    background-color: rgba(237, 238, 239, 0.936);
}
/* սարքում ենք ամենավերևի մասի ֆոնը */
.crotch1 {
    background-color: rgba(255, 255, 251, 0.792);
    display: flex;
    flex-direction: row;
    height: 63px;
}
/* լօգօն ենք սարքում */
#pictureLogo {
    width: 50px;
    height: 50px;
    margin-left: 23px;
    margin-top: 7px;
}
/* վերևի մասի ֆօնի վրի բառերնա դզվում */
.text1 {
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 14px;
    position: relative;
    left: -42px;
    margin-left: 28px;
    letter-spacing: 0.2px;
    margin-top: 7px;
    color: black;
    text-decoration: none;
    display: inline-block;
    text-shadow: 2px 2px 3.2px rgb(18, 17, 17);
}
/* վերևի մասի ֆոնի փնտրտուքներնա դզվում */
#search {
    height: 27px;
    position: relative;
    top: 18px;
    padding: 6px;
    left: 400px;
}
/* վերևի մասի փնտրտուքների նկարնա դզվում */
#SearchPicture {
    width: 14px;
    height: 15px;
    position: relative;
    top: 25px;
    left: 380px;
}
/* վերևի մասի ամենաաջ մասի խանութնա */
#pictureBasket {
    width: 20px;
    height: 20px;
    margin-top: 21px;
    position: relative;
    left: 458px;
}
/* վերևի մասի ամենաաջ մասի մարդնա */
#pictureMan {
    width: 20px;
    height: 20px;
    margin-top: 21.5px;
    margin-left: 481px;
}




/* գազարագույն գույնի ֆոննա դզվում */
.orangeText {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 63px;
    background: #ff9500;
    background: linear-gradient(0deg, rgba(255, 149, 0, 1) 0%, rgba(255, 181, 77, 1) 50%, rgba(255, 149, 0, 1) 100%);
}
/* գազարագույն գույնի ֆոնի գրվածների ընդհանուր գրծնա դզվում */
.text2 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.5px;
    word-spacing: 5px;
    text-shadow: 3px 3px 6px rgb(255, 255, 255);
}
/* գազարագույն գույնի ֆոնի առաջին գրվածքնա դզվում */
#text3 {
    font-size: 30px;
    font-weight: 600;
    margin-left: 36px;
    margin-top: 11.5px;
}
/* գազարագույն գույնի ֆոնի երկրորդ գրվածքնա դզվում */
#text4 {
    font-size: 18.7px;
    margin-top: 20px;
    margin-left: 59%;
}




/* հիմնական մասնա դզվում արդեն */
.himnakan {
    background-color: rgba(237, 238, 239, 0.936);
    margin-top: 9px;
    height: 3000px;
}
/* սելեքտների ընհանուրնա դզվում */
.select1 {
    position: relative;
    height: 45px;
    width: 263px;
    left: 50px;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
}
/* առաջին սելեքտնա դզվում */
#select2 {
    top: 28px;
}
/* երկրորդ սելեքտնա դզվում */
#select3 {
    top: 50px;
}




.himnakaniDzaxMas { 
    width: 255px;
    border-radius: 15px;
    background: white;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 15px;
    position: relative;
    top: 70px;
    left: 51px;
}
/* pricinggggg */
.text18 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.pricing {
    display: flex;
    width: 150px;
    margin-left: 50px;
}
.text11 {
    display: inline-block;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
.label1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 16.5px;
}




/* հիմնական նկարների մասի դիվնա դզվում */
.himnakanNkarneriMas {
    width: 1160px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(235, 236, 236);
    gap: 50px;
    position: relative;
    left: 355px;
    top: -723px;
}
/* ոբշի նկարների տակի տվյալներով դիվնա դզվում  */
.nkarneriDiver {
    width: 289.9px;
    background: white;
    border-radius: 20px;
    position: relative;
    top: -20px;
    left: 3px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow: hidden;
    margin-left: 25.5px;
}
@keyframes animdiv {
    from {
        box-shadow: 0 5px 15px rgba(0,0,0,0.08);
        transform: translateY(0px);
    }
    to {
        box-shadow: 0 10px 25px rgba(0,0,0,0.15);
        transform: translateY(-10px);
    }
}
 .nkarneriDiver {
  transition: 0.26s ease-in-out;
}

.nkarneriDiver:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  transform: translateY(-10px);
}

/* ոբշի նկարներների դիրքնա դզվում */
.himnakanPicturNer {
    width: 205px;
    height: 230px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
/* նկարների տակի դիվի վրի տվըալների ոբշի բառերնա դզվում */
.text14 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* նկարների տակի դիվի վրի տվըալների գիննա բառի չափնա դզվում */
.text17 {
    line-height: 60px;
    font-size: 31px;
    color: #ff9500;
}
.gniKoxiBary {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.2px;
    position: relative;
    top: -3px;
    left: 10px;
}
.orange-botton2 {
    width: 234px;
    height: 39px;
    background: #ff9500;
    border-radius: 10px;
    border: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: auto;
    margin-bottom: 7px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.orange-botton2:hover {
    background: #e68600;
}
.crotch1 {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    backdrop-filter: blur(5px);
}
.orangeText {
    position: fixed;
    top: 63px;
    z-index: 1000;
}
body {
    padding-top: 118px;
}
.mobileAnim {
      width: 93%;
      height: 452px;
}

.leftContainer {
    width: 350px;
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
    border-radius: 20px;
    margin-left: 9px
}
.gnijecum20 {
    background-color: #fffae6;
    border-radius: 6px;
    font-size: 14px;
    text-align: center;
    border: 2px solid #ffe58f;
    width: 250px;
    position: relative;
    top: 100px;
    left: 50px;
    line-height: 30px;
}